In [5]:
import numpy as np
import pandas as pd

In [38]:
path="../part-numbering/400000-Thorax/"
file="401000-Thorax-Spine-Vertebra"

In [51]:
data = pd.read_csv(path+file+".csv")
#data = pd.read_csv("../part-numbering/600000-Pelvis/601000-Pelvis-Bones.csv") 
num_of_rows=data.shape[0]

In [52]:
data

,Body Region,Sagittal Aspect,Component,Unnamed: 3,Unnamed: 4,Sub-Comp /Material,Part Name,Comment
0,4.0,NaN,NaN,NaN,NaN,NaN,TX,NaN
1,NaN,0.0,NaN,NaN,NaN,NaN,M,NaN
2,NaN,5.0,NaN,NaN,NaN,NaN,R,NaN
3,NaN,NaN,1.0,NaN,NaN,NaN,Spine,NaN
4,NaN,NaN,NaN,NaN,1.0,NaN,T1,NaN
5,NaN,NaN,NaN,NaN,2.0,NaN,T2,NaN
6,NaN,NaN,NaN,NaN,3.0,NaN,T3,NaN
7,NaN,NaN,NaN,NaN,4.0,NaN,T4,NaN
8,NaN,NaN,NaN,NaN,5.0,NaN,T5,NaN
9,NaN,NaN,NaN,NaN,6.0,NaN,T6,NaN
10,NaN,NaN,NaN,NaN,7.0,NaN,T7,NaN
11,NaN,NaN,NaN,NaN,8.0,NaN,T8,NaN
12,NaN,NaN,NaN,NaN,9.0,NaN,T9,NaN
13,NaN,NaN,NaN,NaN,10.0,NaN,T10,NaN
14,NaN,NaN,NaN,NaN,11.0,NaN,T11,NaN
15,NaN,NaN,NaN,NaN,12.0,NaN,T12,NaN
16,NaN,NaN,NaN,NaN,NaN,1.0,Cortical,NaN
17,NaN,NaN,NaN,NaN,NaN,2.0,Trabecular,NaN

In [48]:
data.head()
# data

,Body Region,Sagittal Aspect,Component,Unnamed: 3,Unnamed: 4,Sub-Comp /Material,Part Name,Comment
0,4.0,NaN,NaN,NaN,NaN,NaN,TX,NaN
1,NaN,0.0,NaN,NaN,NaN,NaN,M,NaN
2,NaN,5.0,NaN,NaN,NaN,NaN,R,NaN
3,NaN,NaN,1.0,NaN,NaN,NaN,Spine,NaN
4,NaN,NaN,NaN,NaN,1.0,NaN,T1,NaN

In [1]:
import sys
import os

path = sys.argv[1]

In [3]:
import argparse
from pathlib import Path

parser = argparse.ArgumentParser()
parser.add_argument("file_path", type=Path)

p = parser.parse_args()
print(p.file_path, type(p.file_path), p.file_path.exists())

usage: ipykernel_launcher.py [-h] file_path
ipykernel_launcher.py: error: unrecognized arguments: -f

SystemExit: 2

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3333: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [ ]:
dic = {}

In [ ]:
pid = 0
name = ''

In [53]:
dic = {}
for n in range(num_of_rows):
        if pd.notna(data.iloc[n,0]):
            first = data.iloc[n,0]
            body_region = str(data.iloc[n,6])
            
            second = []
            third = []
            fourth = []
            fifth = []
            sixth = []
            
            sagittal_aspect = []
            third_name = []
            fourth_name = []
            fifth_name = []
            sixth_name = []
            continue
            
        if pd.notna(data.iloc[n,1]):
            second.append(int(data.iloc[n,1]))
            sagittal_aspect.append(str(data.iloc[n,6]))
         #   print(second,sagittal_aspect)
            continue
            
        if pd.notna(data.iloc[n,2]):
            third.append(int(data.iloc[n,2]))
            #if pd.notna(data.iloc[n,6]):
            third_name.append(str(data.iloc[n,6]))
            continue
            
#        if pd.notna(data.iloc[n,3]):
#            fourth.append(int(data.iloc[n,3]))
#            #if pd.notna(data.iloc[n,6]):
#            fourth_name.append(str(data.iloc[n,6]))
#            continue
            
        if pd.notna(data.iloc[n,4]):
            fifth.append(int(data.iloc[n,4]))
            #if pd.notna(data.iloc[n,6]):
            fifth_name.append(str(data.iloc[n,6]))
            continue
            
        if pd.notna(data.iloc[n,5]):
            sixth.append(int(data.iloc[n,5]))
            sixth_name.append(str(data.iloc[n,6]))
            
for s1,s2 in zip(second,sagittal_aspect):
                for t1,t2 in zip(third,third_name):
                    #for f1,f2 in zip(fourth,fourth_name):
                        for fi1,fi2 in zip(fifth,fifth_name):
                            for si1,si2 in zip(sixth,sixth_name):
                                #if si1 == 0:
                                    #print(s1,t1,f1,fi1,si1,s2,t2,f2,fi2,si2)
                                    pid = int(first*10**5 + s1*10**4 + t1*10**3 + fi1*10 +si1)
                                    
                                    name = body_region + '-' + str(t2) + '-' + str(fi2) + '-' + str(si2) + '-' + str(s2)
                                    dic[pid]= name
                                    
#print (dic)

In [54]:
dic

{401011: 'TX-Spine-T1-Cortical-M',
 401012: 'TX-Spine-T1-Trabecular-M',
 401021: 'TX-Spine-T2-Cortical-M',
 401022: 'TX-Spine-T2-Trabecular-M',
 401031: 'TX-Spine-T3-Cortical-M',
 401032: 'TX-Spine-T3-Trabecular-M',
 401041: 'TX-Spine-T4-Cortical-M',
 401042: 'TX-Spine-T4-Trabecular-M',
 401051: 'TX-Spine-T5-Cortical-M',
 401052: 'TX-Spine-T5-Trabecular-M',
 401061: 'TX-Spine-T6-Cortical-M',
 401062: 'TX-Spine-T6-Trabecular-M',
 401071: 'TX-Spine-T7-Cortical-M',
 401072: 'TX-Spine-T7-Trabecular-M',
 401081: 'TX-Spine-T8-Cortical-M',
 401082: 'TX-Spine-T8-Trabecular-M',
 401091: 'TX-Spine-T9-Cortical-M',
 401092: 'TX-Spine-T9-Trabecular-M',
 401101: 'TX-Spine-T10-Cortical-M',
 401102: 'TX-Spine-T10-Trabecular-M',
 401111: 'TX-Spine-T11-Cortical-M',
 401112: 'TX-Spine-T11-Trabecular-M',
 401121: 'TX-Spine-T12-Cortical-M',
 401122: 'TX-Spine-T12-Trabecular-M',
 451011: 'TX-Spine-T1-Cortical-R',
 451012: 'TX-Spine-T1-Trabecular-R',
 451021: 'TX-Spine-T2-Cortical-R',
 451022: 'TX-Spine-T2-Trabecular-R',
 451031: 'TX-Spine-T3-Cortical-R',
 451032: 'TX-Spine-T3-Trabecular-R',
 451041: 'TX-Spine-T4-Cortical-R',
 451042: 'TX-Spine-T4-Trabecular-R',
 451051: 'TX-Spine-T5-Cortical-R',
 451052: 'TX-Spine-T5-Trabecular-R',
 451061: 'TX-Spine-T6-Cortical-R',
 451062: 'TX-Spine-T6-Trabecular-R',
 451071: 'TX-Spine-T7-Cortical-R',
 451072: 'TX-Spine-T7-Trabecular-R',
 451081: 'TX-Spine-T8-Cortical-R',
 451082: 'TX-Spine-T8-Trabecular-R',
 451091: 'TX-Spine-T9-Cortical-R',
 451092: 'TX-Spine-T9-Trabecular-R',
 451101: 'TX-Spine-T10-Cortical-R',
 451102: 'TX-Spine-T10-Trabecular-R',
 451111: 'TX-Spine-T11-Cortical-R',
 451112: 'TX-Spine-T11-Trabecular-R',
 451121: 'TX-Spine-T12-Cortical-R',
 451122: 'TX-Spine-T12-Trabecular-R'}

In [55]:
(pd.DataFrame.from_dict(data=dic, orient='index')
     .to_csv(path+file+"-PID-PIDName" + ".csv", header=False))

In [50]:
(pd.DataFrame.from_dict(data=dic, orient='index')
     .to_csv("../part-numbering/600000-Pelvis/601000-Pelvis-Bones-PIDPID.csv", header=False))